
.custom-card {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 3.5%;
}

.custom-title {
  margin-top: 2%;
  margin-left: 2%;
  margin-right: 2%;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.custom-center {
  text-align: center;
}

.custom-bg {
  background-color: lightgrey;
}

.custom-padding {
  vertical-align: middle !important;
}